{{ header }}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% set class_bottom = 'col-sm-12' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div class="{{ class }}">
      {{ content_top }}
    </div>
    </div>
    <div class="row">
       <div id="content" class="{{ class_bottom }}">
        {{ content_bottom }}
       </div>
    </div>
</div>
{{ footer }}