<div class="catmenu">
  {% for category in categories %}
  {% if category.category_id == category_id %}
  <a href="{{ category.href }}" class="active">
      <span class="icon"><img src="{{ category.image }}"/></span>
      <span class="name">{{ category.name }}</span>
  </a>
  {% if category.children %}
  {% for child in category.children %}
  {% if child.category_id == child_id %}
  <a href="{{ child.href }}" class="active">
      <span class="icon"><img src="{{ category.image }}"/></span>
      <span class="name">{{ child.name }}</span>
  </a>
  {% else %} 
  <a href="{{ child.href }}">
      <span class="icon"><img src="{{ category.image }}"/></span>
      <span class="name">{{ child.name }}</span>
  </a>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% else %}
      <a href="{{ category.href }}">
          <span class="icon"><img src="{{ category.image }}"/></span>
          <span class="name">{{ category.name }}</span>
      </a>
  {% endif %}
  {% endfor %}
</div>
