<div class="bestsell">
    <h2 class="topsales-title">{{ code_module_translate }}</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="productbox">
                  <div class="quickview" data-toggle="tooltip" data-original-title="Быстрый просмотр">
                  </div>
                    <button type="button" class="wishlist" data-toggle="tooltip" title="{{ button_wishlist }}"
                            onclick="wishlist.add('{{ product.product_id }}');">
                    </button>
                    <button class="credit" type="button" data-toggle="tooltip" data-original-title="В кредит">
                    </button>
                    <button type="button" class="compare" data-toggle="tooltip" title="{{ button_compare }}"
                            onclick="compare.add('{{ product.product_id }}');">
                    </button>
                    <div class="sale-text"> {{ product.name_stock_cat }}</div>

                    <div class="product-thumb transition">
                        <div class="image"><a href="{{ product.href }}">
                                <img src="{{ product.thumb }}"
                                     alt="{{ product.name }}"
                                     title="{{ product.name }}"
                                     class="img-responsive"/></a>
                        </div>
                    </div>

                    <div class="caption">
                        <div class="category-name">{{ product.name_main_cat }}</div>
                        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                        <div class="additional-row">
                            {% if product.rating %}
                                <div class="rating">
                                    {% for i in 1..5 %}
                                        {% if product.rating < i %}
                                            <span class="fa fa-stack">
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                                        {% else %}
                                            <span class="fa fa-stack star-active">
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="review-count">{{ product.reviews }}</div>
                            <div class="sku">{{ product.sku }}</div>
                        </div>

                        {% if product.price %}
                            <p class="price">
                                {% if not product.special %}
                                    <span class="price-new">{{ product.price }}</span>
                                {% else %}
                                    <span class="price-new">{{ product.special }}</span>
                                    <span class="price-old">{{ product.price }}</span>
                                    <span class="skidka">{{ product.skidka }}</span>
                                {% endif %}
                                {% if product.tax %}
                                    <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="button-group">
                        <button type="button" class="add_to_cart" onclick="cart.add('{{ product.product_id }}');">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a class="tocat" href="#">
            Перейти до каталогу
        </a>
    </div>
</div>